<!-- Footer -->
<div class="footerContainer">
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
                <div class="row">

            <!-- Grid column -->
                    <div class="col-md-5 mb-md-0 mb-3">

            <!-- Content -->
                        <h5 class="text-uppercase">VISIT OUR RESTAURANT</h5>
                            <a href="https://maps.google.com/maps?q=Koki%27s+Teppan+House,+East+Main+Street,+Tustin,+CA&amp;hl=en&amp;ll=33.742256,-117.816739&amp;spn=0.013971,0.023947&amp;sll=37.269174,-119.306607&amp;sspn=13.676694,24.521484&amp;oq=kokis+&amp;hq=Koki%27s+Teppan+House,&amp;hnear=E+Main+St,+Tustin,+California+92780&amp;t=m&amp;z=16&amp;iwloc=A">
                                <img class="size-full wp-image-27 map alignnone" title="map" src="http://www.kokisgrille.com/wp-content/uploads/2012/08/map.png" alt="1061 East Main Street, Tustin CA" width="290" height="100">
                            </a>
                            <p>Koki’s Teppanyaki Grille</p>
                            <p>1061 East Main Street, Tustin, Ca 92780</p>
                    </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
                    <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
                        <h5 class="text-uppercase">HOURS OF OPERATION</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <h5>Lunch:</h5>
                                    <p>Mon-Fri 11:30 am – 2:30 pm</p>
                                </li>
                                <li>
                                    <h5>Lunch:</h5>
                                    <p>Mon-Thur 5:00 pm – 9:30 pm</p>
                                    <p>Friday 5:00 pm – 10:00pm</p>
                                    <p>Saturday 4:30 pm – 10:00 pm</p>
                                    <p>Sunday 4:30 pm – 9:30pm</p>
                                </li>
                            </ul>
                    </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
                        <h5 class="text-uppercase">Contact US</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p>Phone: <span class="contactSpan">714.505.6738</span></p>
                            </li>
                            <li>
                                <p>Fax: <span class="contactSpan">714.505.3283</span></p>
                            </li>
                            <li>
                                <p>Email: <span class="contactSpan"><a href="mailto:info@kokisgrille.com">info@kokisgrille.com</a></span></p>
                            </li>
                        </ul>
                        <div class="socialIcons">
                            <a href="https://www.facebook.com/Kokisteppanyakigrille"><img src="/images/facebook-icon.png"></a>
                            
                            <a href="https://instagram.com/kokis_teppanyaki"><img src="/images/instagram-icon.png"></a>
                            <a href="http://www.yelp.com/biz/kokis-japanese-teppan-house-tustin"><img src="/images/yelp-icon.png"></a>
                        </div>

                        
                    </div>
            <!-- Grid column -->

                </div>
            <!-- Grid row -->

            </div>
            <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
        Koki's Teppanyaki Grille© 2012. All rights reserved.
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>


<script src="/javascripts/myjavascript.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        </body>
    </html>