<!DOCTYPE html>
    <html>
        <head>
            <title>Koki's Teppanyaki Grille</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="/stylesheets/main.css">
            <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Aleo&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        </head>
        <body>

          <div class="container">
            <div id="menu_wrapper">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"><img id="logoImg" src="/images/logo_med2.png"></a>
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            
                <div id="nav_wrapper">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/kokisgrille">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/kokisgrille/menu">Menu</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/kokisgrille/story">Our Story</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/kokisgrille/contact">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
            
              </nav>
            </div>
          </div>

              