<% include partials/header.ejs %>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <span class="text1">Teppanyaki Done Right.</span>
    <span class="text2">A meal served with a show since 1997</span>
  </div>
</div>




<% include partials/footer.ejs %>