<% include partials/header.ejs %>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="mainH1" class="col-md-12">
        <span>K</span>
        <span>O</span>
        <span>K</span>
        <span>I</span>
        <span>'</span>
        <span>S</span>
    </h1>

  </div>
</div>




<% include partials/footer.ejs %>