<% include partials/header.ejs %>

<h1 class="title">Menu</h1>

<div class="tabContainer">
    <div class="buttonContainer container">
        <button onclick="showPanel(0, '#44336')">Appetizers</button>
        <button onclick="showPanel(1, '#4caf50')">Lunch</button>
        <button onclick="showPanel(2, '#2196f3')">Dinner</button>
        <button onclick="showPanel(3, '#ff5722')">Kids</button>
        <button onclick="showPanel(4, '#44336')">Drinks</button>
    </div>
    <!-- APPETIZERS -->
        <div class="tabPanel">
                <h2>Appetizers</h2>
            <div class="menu-container">
                    <div class="menu-items appetizer">
                        <p>Vegetable Tempura</p>
                        <p>Calamari & Vegetable Tempura</p>
                        <p>Shrimp & Vegetable Tempura</p>
                        <p>Chef’s Delight Eggroll (4)</p>
                        <p>Gyoza (fried dumplings) (7)</p>
                        <p>Deep Fried Oysters (6)</p>
                        <p>Soft Shell Crab</p>
                        <p>Yaki Tofu</p>
                        <p>Edamame (soy beans)</p>
                        <p>Karaage Chicken (Japanese Fried Chicken)</p>
                    </div>
    
                    <div class="menu-pricing appetizer">
                        <p>$8.95</p>
                        <p>$8.95</p>
                        <p>$8.95</p>
                        <p>$8.95</p>
                        <p>$7.95</p>
                        <p>$10.95</p>
                        <p>$10.95</p>
                        <p>$7.95</p>
                        <p>$3.95</p>
                        <p>$8.95</p>
                    </div>
                </div>
        </div>

    <!-- LUNCH -->
        <div class="tabPanel">
            <h2>Lunch Menu</h2>
            <h4>LUNCH SPECIALS</h4>
            <h5>Served with Soup, Salad, Hibachi Vegetables & Steamed Rice</h5>
            <h5>(may substitute fried rice for $2.50 extra)</h5>
            <h5>Fried Rice cooked with finely chopped chicken & vegetables</h5>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Sesame Chicken or Teriyaki Chicken (white meat)</p>
                    <p>Hibachi Fish (sole or salmon)</p>
                    <p>Pineapple Calamari</p>
                    <p>Hibachi Shrimp</p>
                    <p>Teriyaki Steak</p>
                    <p>Hibachi Scallops</p>
                    <p>New York Steak</p>
                    <p>Filet Mignon (tenderloin)</p>
                </div>

                <div class="menu-pricing">
                    <p>$12.95</p>
                    <p>$14.95</p>
                    <p>$14.95</p>
                    <p>$16.95</p>
                    <p>$16.95</p>
                    <p>$16.95</p>
                    <p>$16.95</p>
                    <p>$20.95</p>
                </div>
            </div>

            <h4>VEGETABLE DELIGHT</h4>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Vegetable Delight </p>
                </div>

                <div class="menu-pricing">
                    <p>$14.95</p>
                </div>
            </div>
            <h5>Hibachi vegetables, Asparagus & Oriental noodles (contains egg) served with salad</h5>

            <h4>YAKISOBA</h4>
            <h5>Oriental Noodles (contains egg) with choice of meat. Served with Soup & Salad</h5>
            <h5>(may add Hibachi Vegetables for $6.00 extra)</h5>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Chicken (white meat)</p>
                    <p>Shrimp</p>
                    <p>New York Steak</p>
                </div>

                <div class="menu-pricing">
                    <p>$15.95</p>
                    <p>$15.95</p>
                    <p>$16.95</p>
                </div>
            </div>

            <h4>MIX & MATCH COMBINATIONS</h4>
            <h5>Served with Soup, Salad, Hibachi Vegetables & Steamed Rice</h5>
            <h5>(may substitute fried rice for $2.50 extra)</h5>
            <h5>Fried Rice cooked with finely chopped chicken & vegetables</h5>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Select (2) items</p>
                </div>

                <div class="menu-pricing">
                    <p>$18.95</p>
                </div>
            </div>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Mini Steak</p>
                    <p>Pineapple Calamari</p>
                    <p>Sesame or Teriyaki Chicken</p>
                    <p>Mushroom</p>
                    <p>Hibachi Shrimp</p>
                </div>

                <div class="menu-items">
                    <p>New York Steak (add $3.00)</p>
                    <p>Hibachi Scallops (add $3.00)</p>
                    <p>Filet Mignon (add $6.00)</p>
                    <p>Fish (sole or salmon)</p>
                    <p>Lobster Tail (add $10.00)</p>
                </div>
            </div>

            <h4>ADDITIONAL SELECTIONS TO MAIN MEAL</h4>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Yakisoba</p>
                    <p>Hibachi Vegetables</p>
                    <p>Pineapple</p>
                    <p>Mushrooms</p>
                    <p>Chicken Fried Rice</p>
                    <p>Shrimp Fried Rice</p>
                    <p>Steamed Rice</p>
                    <p>Soup or Salad</p>
                    <p>Egg</p>
                    <p>Koki’s Salad Dressing or Sauce To Go (16oz)</p>
                    <p>Gluten Free Soy Sauce</p>
                    <p>Lobster Sauce</p>
                </div>

                <div class="menu-pricing">
                    <p>$8.00</p>
                    <p>$6.00</p>
                    <p>$3.00</p>
                    <p>$3.00</p>
                    <p>$3.50</p>
                    <p>$6.00</p>
                    <p>$2.00</p>
                    <p>$3.00</p>
                    <p>$2.50</p>
                    <p>$6.00</p>
                    <p>$2 per person</p>
                    <p>$2 per person</p>
                </div>
            </div>

            <h4>Dessert</h4>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Ice Cream (Green Tea, Chocolate, Vanilla) </p>
                    <p>Banana Tempura with Ice Cream </p>
                </div>

                <div class="menu-pricing">
                    <p>$3.50</p>
                    <p>$8.50</p>
                </div>
            </div>
        </div>

    <!-- DINNER -->
        <div class="tabPanel">
            <h2>Dinner Menu</h2>
            <h4>TRADITIONAL DINNERS</h4>
            <h5>Served with Beef Onion Soup, Salad, Shrimp Appetizer, Hibachi Vegetables, and Steamed Rice (may substitute fried rice for $2.50 extra)</h5>
            <h5>(may substitute fried rice for $2.50 extra)</h5>
            <h5>Fried Rice cooked with finely chopped chicken & vegetables</h5>    
            <h5>Sharing & Splitting charge $7.00 per person (Include Soup, Salad & Steamed Rice)</h5>    
            
            <h3>Chef Special</h3>
            <div class="menu-container">
                <div class="menu-items">
                    <p>Chateau Briand</p>
                </div>
        
                <div class="menu-pricing">
                    <p>$32.95</p>
                </div>
            </div>
                <h4>
                    9oz. Filet Mignon center cut reduced in red wine, & served with sautéed mushrooms and asparagus
                </h4>
        
            <div class="menu-container">
                    <div class="menu-items">
                        <p>Sesame or Teriyaki Chicken (white meat)</p>
                        <p>Pineapple Calamari</p>
                        <p>Fish of the Day (sole or salmon)</p>
                        <p>Hibachi Shrimp</p>
                        <p>New York or Teriyaki Steak</p>
                        <p>Hibachi Scallops</p>
                        <p>Filet Mignon (tenderloin)</p>
                        <p>House Special Lobster Tail</p>
                    </div>
    
                    <div class="menu-pricing">
                        <p>$19.95</p>
                        <p>$21.95</p>
                        <p>$21.95</p>
                        <p>$24.95</p>
                        <p>$25.95</p>
                        <p>$26.95</p>
                        <p>$28.95</p>
                        <p>$36.95</p>
                    </div>
            </div>
            <h4>KOKI’S LAND AND SEA</h4>
            <h5>(special for 2 people only)</h5>
            <h5>*No Substitutions*</h5>
            <div class="menu-container">
                <div class="menu-items">
                    <p>(Sp.1) New York Steak, Chicken, Scallops & Shrimp </p>
                    <p>(Sp.2) Lobster Tail, Filet Mignon, Chicken & Shrimp </p>
                </div>

                <div class="menu-pricing">
                    <p>$59.95</p>
                    <p>$69.95</p>
                </div>
            </div>

            <h4>MIX & MATCH COMBINATIONS</h4>
            <h5>Select (2) items $26.95 (cannot choose 2 steaks or same item twice)</h5>
            <h5>Sharing & Splitting charge $7.00 per person (Include Soup, Salad & Steamed Rice)</h5>
            <div class="menu-container">
                <div class="dinner-container">
                    <p>Sesame or Teriyaki Chicken</p>
                    <p>New York Steak (+ $3.00)</p>
                    <p>Hibachi Shrimp</p>
                    <p>Teriyaki Steak (+ $3.00)</p>
                    <p>Hibachi Scallops(+ $3.00)</p>
                </div>

                <div class="dinner-container">
                    <p>Filet Mignon (+ $6.00)</p>
                    <p>Fish (sole or salmon)</p>
                    <p>Lobster Tail (+ $10.00)</p>
                    <p>Pineapple Calamari</p>
                </div>
            </div>
            
            <h4>YAKISOBA</h4>
            <h5>Oriental Noodles* with choice of meat served with Soup & Salad</h5>
            <h5>(may add Hibachi Vegetables for $6.00 extra)</h5>
            <h5>*contains egg*</h5>
            <h5>Sharing & Splitting charge $7.00 per person (Include Soup, Salad & Steamed Rice)</h5>
                <div class="menu-container">
                    <div class="menu-items">
                        <p>Chicken (white meat)</p>
                        <p>Shrimp</p>
                        <p>Shrimp</p>
                    </div>

                    <div class="menu-pricing">
                        <p>$22.95</p>
                        <p>$22.95</p>
                        <p>$23.95</p>
                    </div>
                </div>

            <h4>VEGETABLE DELIGHT</h4>
            <h5>Sharing & Splitting charge $7.00 per person (Include Soup, Salad & Steamed Rice)</h5>
                <div class="menu-container">
                    <div class="menu-items">
                        <p>Vegetable Delight</p>
                    </div>

                    <div class="menu-pricing">
                        <p>$21.95</p>
                    </div>
                </div>
            <h5>Hibachi vegetables, Asparagus, Tofu & Oreiental noodles (contains egg) served with salad</h5>

            <h4>ADDITIONAL SELECTIONS TO MAIN MEAL:</h4>
                <div class="menu-container">
                    <div class="menu-items">
                        <p>Yakisoba</p>
                        <p>Hibachi Vegetables</p>
                        <p>Pineapple</p>
                        <p>Mushrooms</p>
                        <p>Chicken Fried Rice</p>
                        <p>Shrimp Fried Rice</p>
                        <p>Steamed Rice</p>
                        <p>Soup or Salad</p>
                        <p>Egg</p>
                        <p>Koki’s Salad Dressing or Sauce To Go (16oz)</p>
                        <p>Gluten Free Soy Sauce</p>
                        <p>Lobster Sauce</p>
                    </div>

                    <div class="menu-pricing">
                        <p>$8.00</p>
                        <p>$6</p>
                        <p>$3.00</p>
                        <p>$3.00</p>
                        <p>$3.50</p>
                        <p>$6.00</p>
                        <p>$2.00</p>
                        <p>$3.00</p>
                        <p>$2.50</p>
                        <p>$6.00</p>
                        <p>$2 per person</p>
                        <p>$2 per person</p>
                    </div>
                </div>

            <h4>Dessert</h4>
                <div class="menu-container">
                    <div class="menu-items">
                        <p>Ice Cream (Green Tea, Chocolate, Vanilla) </p>
                        <p>Banana Tempura with Ice Cream </p>
                    </div>
    
                    <div class="menu-pricing">
                        <p>$3.50</p>
                        <p>$8.50</p>
                    </div>
                </div>
            </div>

    <!-- KIDS -->
        <div class="tabPanel">
            <h2>Kids Menu</h2>
            <h5>(children under 10)</h5>
            <h5>Served with Beef Onion Soup, Hibachi Vegetables, Steamed Rice & Ice Cream</h5>
            <h5>(may substitute fried rice for $2.50 extra)</h5>

            <br>

            <h4>Lunch Specials</h4>
            <div class="menu-container">
                    <div class="menu-items">
                        <p>Ninja Chicken</p>
                        <p>Karate Shrimp</p>
                        <p>Samurai Steak </p>
                    </div>
    
                    <div class="menu-pricing">
                        <p>$12.95</p>
                        <p>$12.95</p>
                        <p>$12.95</p>
                    </div>
                </div>

            <br>

            <h4>Dinner Specials</h4>
            <div class="menu-container">
                    <div class="menu-items">
                        <p>Ninja Chicken</p>
                        <p>Karate Shrimp</p>
                        <p>Samurai Steak</p>
                        <p>Filet Mignon (Tenderloin)</p>
                    </div>
    
                    <div class="menu-pricing">
                        <p>$12.95</p>
                        <p>$12.95</p>
                        <p>$13.95</p>
                        <p>$19.95</p>
                    </div>
            </div>
        </div>


<!-- DRINKS  -->
<div class="tabPanel">
    <h2>Drinks Menu</h2>
    <h4>Cocktails</h4>
    <div class="menu-container">
        <div class="drink-items">
            <p>Tokyo Tea</p>
            <i>– Vodka, Gin, Rum, Tequila, Midori Sour, Sweet & Sour, Sprite</i>
        </div> 
        <div class="drink-pricing">
            <p>$9.50</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Long Island Iced Tea </p>
            <i>– Vodka, Gin, Rum, Tequila, Triple Sec, Sweet & Sour, Coke</i>
        </div>
        <div class="drink-pricing">
            <p>$9.50</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>A.M.F.</p>
            <i>– Vodka, Gin, Rum, Tequila, Blue Curacao, Sweet & Sour, Sprite</i>
        </div>
        <div class="drink-pricing">
            <p>$9.50</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Mai Tai</p>
            <i>– Rum, Malibu Rum, Dark Rum, Triple Sec, Pineapple Juice, Orange Juice, Grenadine</i>
        </div>
        <div class="drink-pricing">
            <p>$8.50</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Sake Cosmo</p>
            <i>– Sake, Vodka, Triple Sec, Cranberry Juice, Lime Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$7.50</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Sake Kamikaze</p>
            <i>– Sake, Vodka, Triple Sec, Lime Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$7.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Apple Sake-Tini</p>
            <i>– Sake, Vodka, Apple Pucker</i>
        </div>
        <div class="drink-pricing">
            <p>$7.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Blue Hawaiian</p>
            <i>– Vodka, Malibu, Blue Curacao, Pineapple Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$7.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>&lt3 On The Beach </p>
            <i>– Vodka, Peach Schnapps, Orange Juice, Cranberry Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$6.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Tequila Sunrise</p>
            <i>– Tequila, Orange Juice, Grenadine</i>
        </div>
        <div class="drink-pricing">
            <p>$6.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Purple Dragon</p>
            <i>– Chambord, Pineapple Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$8.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>The Drunken Lemonade</p>
            <i>– Citrus Vodka, Pink Lemonade, Cranberry Juice, Lime Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$7.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Moscow Mule </p>
            <i>– Vodka, Ginger Beer, Lime Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$8.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Jolly Rancher</p>
            <i>– Vodka, Apple Pucker, Peach Schnapps, Cranberry Juice, Lime Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$7.95</p>
        </div>
    </div>
    <div class="menu-container">
        <div class="drink-items">
            <p>Apple Jack</p>
            <i>– Jack Daniel’s Whiskey, Apple Pucker, Cranberry Juice</i>
        </div>
        <div class="drink-pricing">
            <p>$7.95</p>
        </div>
    </div>

    <div class="menu-container">
        <div class="drink-items">
            <p>Lemon Drop</p>
            <i>– Citrus Vodka, Triple Sec, Sweet & Sour</i>
        </div>
        <div class="drink-pricing">
            <p>$7.95</p>
        </div>
    </div>
    <div class="push"></div>
</div>







<% include partials/footer.ejs %>