<% include partials/header.ejs %>

<div class="container">
    <div class="kokiStory">
            <div class="storyImage">
                    <img src="/images/ourstory.jpg">
                </div>
                    <p>
                        Koki’s Teppanyaki Grille originally opened for business in October 1997 with nine tables at current location in Tustin, California. Within 9 months of operating word quickly began to travel to residents of Tustin, Irvine, Santa Ana and Orange that a local Teppanyaki House was more than worth the drive.
                    </p>
                    <p>
                        Rita Ko, the original and current proprietor of Koki’s Teppanyaki Grille in Tustin lived in Hong Kong until her teenage years, where she was exposed to a freewheeling world of entrepreneurism. Her parents owned a small grocery store and paved the road for Rita to learn about the essentials of business, customer service and food preparation.
                    </p>
                    <p>
                        Before 2011, Koki’s was bought by a management team that led to mediocrity in leadership, marketing and food preparation. By the end of 2011, Rita Ko came back to fulfill the high standards she had set and help bring the Orange County communities that used to frequent her restaurant back for good.
                    </p>
                    <p>
                        Rita Ko and Koki’s Teppanyaki Grille Tustin welcomes you to the family-owned and operated restaurant – Banzai!
                    </p>
              </div>
    </div>


<% include partials/footer.ejs %>